<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小赢七牛云</title>
    <link rel="stylesheet" href="/releaseTool/style/global.css">
    <link rel="stylesheet" href="/releaseTool/style/material-icons.css">
    <link rel="stylesheet" href="/releaseTool/style/material.indigo-pink.min.css">
    <!--<link rel="stylesheet" href="/releaseTool/build/styles.css">-->
</head>
<body>
<app></app>


</div>
<div class="appLoginFlag" data-flag="<%= isLogin%>"></div>
<div class="appUserName" data-flag="<%= userName%>"></div>

<script type="text/javascript" src="/releaseTool/lib/material.min.js"></script>
<script type="text/javascript" src="/releaseTool/build/build.js"></script>

</body>
</html>